 body{
	background-image:  url('../images/bg.jpg');
	/*
    background-image: url('../images/customersearch.jpg'); */
    background-repeat: no-repeat;
      background-size: cover;
      font-family: Trebuchet MS, sans-serif ;
  }
 .nav-link{
  float: right;
  color:white;
  position: absolute;
right: 20px;
top: 5px;
}
.home{
color:white;
height:28px;
width:26px;
float: right;
margin-right: 90px; 
}
.btn{
float: right;
border-radius: 5px 18px;
background:#0984e3 !important;
}
.table{
  border-color:white;
}
  h1 {text-align: center;
    float: top;
  color: white;
  margin-top: 1%;
margin-left: 50px;
margin-right: 10px;
}
  ul{
    float: right;
    list-style-type: none;
    margin-top: 6px;
}

ul li{
display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    margin-right: 80px;
margin-bottom: 70px;
margin-top: 40px;

}

ul li a:hover{
    background-color: #fff;
    color: black;
}
header{
  height: 3vh;
}