body{
 background-image:  url('../images/bg.jpg');
  /*background-image: url('../images/customersearch.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Trebuchet MS, sans-serif ;
}
#form-wrapper{
  margin-left: 8px;
}
h1{
text-align: center;
float: top;
color: white;

right: auto;
margin-top: 1%;
margin-left: 50px;
margin-right: 10px;
  }
  .heading{
  top: 10%;
  }
  .submit{
      float :right;
  }
  .btn{
    border-radius:0 ;
    background-color:#0984e3  !important;
    border-radius: 5px 18px !important;
    border: none;
font-size: 15px;
cursor: pointer;
color: black;
  }
  .RbtnMargin 
  {
     margin-top: 110px; 
    border-radius: 20px;}
  .RbtnMargins{
    margin-top: 110px; 
    border-radius: 20px;
  }
  .material-icons{
vertical-align: middle;
}
.nav-link{
float: right;
color:white;
position: absolute;
right: 20px;
top: 5px;
}

ul{
float: right;
list-style-type: none;
margin: auto;
margin-top: 30px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: whitesmoke;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
margin-right: 80px;
margin-bottom: 70px;
margin-top: 40px;

}

ul li a:hover{
background-color: #fff;
color: black;
}


button{
border: none;
font-size: 15px;
cursor: pointer;
background:#0984e3 ;

}
input-hover{
background-color: ghostwhite;
}
button:hover{
background-color: whitesmoke;
}

header {
	height: 4vh;
}