<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>About Us</title>

<link rel="stylesheet" th:href="@{/style/style_aboutUs.css}">

</head>

<body>


	<header>
		<div class="main">
			<ul>
				<li><a th:href="@{searchPage}">Home</a></li>
				<li><a th:href="@{aboutUs}">About Us</a></li>
				<li><a th:href="@{contactUs}">Contact Us</a></li>

			</ul>
		</div>

		<div class="container">
			<center>
				<h1>About Us</h1>
				<div class="img">
					<p>Business Socials Engine(B S Engine) is a search engine that
						will be built specifically for small businesses. Here the users
						can search and contact local businesses like electronics, health
						clinics, real estate brokers .etc., we are primarily supported by
						advertising from businesses that wish to be prominently featured
						when users search for specific products and services in specific
						locations. Google for instance, has developed local inventory ads
						and features ads in the local pack.</p>
				</div>
			</center>
		</div>
</body>
</html>