<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>About Us</title>

<link rel="stylesheet" th:href = "@{/style/style_contactUs.css}">
</head>

<body>


	<header>
		<div class="main">
			<ul>
				<li><a th:href="@{searchPage}">Home</a></li>
				<li><a th:href="@{aboutUs}">About Us</a></li>
				<li><a th:href="@{contactUs}">Contact Us</a></li>

			</ul>
		</div>





		<div class="container">
			<center>
				<h1>Contact Us</h1>
				<div class="img">
					<p>
						<b>Business Socials Engine</b><br>
						<br>
						<b>#5, 9th Cross,M G Road, Bangalore-560023</b><br>
						<br>
						<strong>(919)312-2190<br>
						<br>bsEgine@gmail.com
						</strong>
					</p>
				</div>
			</center>
		</div>
</body>
</html>